<!DOCTYPE html>
<html>
    <head lang="en">
        <title>RechSTORE</title>
        <!-- <link rel="stylesheet" href="ac_preview.css" type="text/css"> -->
        {% load static %}
        <link rel="stylesheet" href={% static 'css/customer ac/ac_preview.css' %} type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
         <script src="https://kit.fontawesome.com/a68cc05929.js" crossorigin="anonymous"></script>

    </head>

    <body onload="check_update_fun()">
<!--------------------------Header---------------------------------------------->
        <header>
            <div id="logo">
                <a href="#"><img id="logo_header" src={% static 'logo/logo2.png'%}></a>
            </div>
            <nav>
                <ul id="login_singup">
                  {% if user.is_authenticated  %}
                  <li id="li_header"><a href="/home/logout"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
                  {% else %}
                  <li id="li_header"><a href="/account/login"><i class="fas fa-sign-out-alt"></i>  Login</a></li>
                  {% endif %}
                </ul>
            </nav>
        </header>
<!--------------------------Content---------------------------------------------->
        {% if user.is_authenticated %}
        <div id="main_container">
            <div id="cont_title">
                <div id="pro_bar">
                    <div id="p1">
                        <ul>
                            <li><a href="#"><h4 id="menu_1"><i class="fas fa-bars"></i> Menu</h4></a>

                                    <ul id="side_bar2">
                                      <li><a href="/home">Home</a></li>
                                      <li><a href="/new_entry/new_entry">New Entry</a></li>
                                      <li><a href="/balance_record/balance_record">Bal Record</a></li>
                                      <li><a href="/all_transactions/all_txn">All Txn</a></li>
                                      <li><a href="/all_transactions/monthly_statement">Monthly Statement</a></li>
                                      <li><a href="/all_transactions/extra_pending">Extra Pending</a></li>
                                    </ul>

                            </li>
                            <li><a href="#"><h6 id="txt_home">Account <span>______</span></h6></a>
                            </li>
                        </ul>
                    </div>
                    <div id="user_display_f">
                        <div id="user_display">
                            <h4 id="un"><i class="fas fa-user-circle"></i> Hello {{user.first_name}}</h4>
                        </div>
                    </div>
                    <div id="p2">
                        <ul id="outer_list">
                            <li id="set">Setting <i class='fas'>&#xf107;</i>
                                <ul id="inner_list">
                                  <li><a href="/manage_ac/customer_ac_add_del_manage"><span id="span1"><i class='fas'>&#xf0c0;</i></span>  Coustomer A/C</a></li>
                                  <li><a href="/all_transactions/monthly_statement"><span id="span2"><i class='fas'>&#xf007;</i></span>  My Profile</a></li>
                                  <li><a href="/unique_numbers_id/unique_numbers_id"><span id="span3"><i class='fas'>&#xf2bb;</i></span>  Number Record</a></li>
                                  <li><a href="/home/logout"><span id="span3"><i class="fas fa-sign-out-alt"></i></span>  Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>



            <div id="cont_data">
                <div id="side_bar">
                    <ul>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/new_entry/new_entry">New Entry</a></li>
                      <li><a href="/balance_record/balance_record">Bal Record</a></li>
                      <li><a href="/all_transactions/all_txn">All Txn</a></li>
                      <li><a href="/all_transactions/monthly_statement">Monthly Statement</a></li>
                      <li><a href="/all_transactions/extra_pending">Extra Pending</a></li>
                    </ul>
                </div>
<!--*************Main Contanier Data**********************-->
                <div id="contanier">
                    <div id="contanier_data">
                        <div id="ac_detalis">
                            <fieldset>
                                <legend class="legend"> Account Detail</legend>
                                <div id="acd">
                                  {% for key in key1_account%}
                                    <h5>Name : <span>{{key.name}}</span></h5>
                                    <h5>Id : <span>{{key.ac_id}}</span></h5>
                                    <h5>Number : <span>{{key.number}}</span></h5>
                                    {% endfor %}
                                </div>
                            </fieldset>
                        </div>
                        <div id="txn_search">
                            <div id="txn_details">
                                <fieldset>
                                    <legend class="legend">Balance Detail</legend>
                                    <div id="bcd">
                                        <div id="bcd_1">
                                            <h5>Total Recharge Amount : <span>{{key3_sum}}</span></h5>
                                        </div>
                                        <hr>
                                        <div id="bcd_2">
                                            <h5 class="bcd_2_1">Total Paid Amount : <span>{{key4_status}}</span></h5>
                                            <h5 id="tag_h5">Total Balance Amount : <span>{{key5_bal}}</span></h5>

                                        </div>
                                        <hr>
                                        <div id="bcd_3">
                                            <h5 class="bcd_2_1">Total Txn : <span>{{key6_count}}</span></h5>
                                            <h5>Total Pending Txn : <span>{{key7_up_count}}</span></h5>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="search_box">
                                <div >
                                    <fieldset>
                                        <legend class="legend">Search By Number</legend>
                                        <div id="b_n">
                                            <input type="radio" name="" id="radio_number" class="radio">
                                            <input type="number" name="" id="inp_number" class="inpu">
                                            <a href="#" id="f_a">Search</a>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div id="update_filed">
                                <div id="update_data">
                                  {% for key in key1%}
                                    <form id="update_form" method="POST" action="/account_profile/txn_update_done/{{key.id}}">
                                      {% csrf_token %}
                                        <table id="table_css" class="table-container">
                                          <tbody>

                                            <tr>
                                                <td>
                                                    <div id="r1">
                                                        <div id="row1_data">
                                                            <p>Date</p>
                                                            <input type="text" name="" value="{{key.date}}" id="date" class="inp" placeholder="Date" disabled>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <div id="r2">
                                                    <div id="row2_data">
                                                        <td>
                                                            <div id="r2c1">
                                                                <p>Number</p>
                                                                <input type="number" name="number" value="{{key.number}}" id="num" class="inp" placeholder="Number" required>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="r2c2">
                                                                <p>Name</p>
                                                                <input type="text" name="name" value="{{key.name}}"  id="nam" class="inp" required placeholder="Name">
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div id="r3">
                                                    <div id="row3_data">
                                                        <td>
                                                            <div id="r3c1">
                                                                <p>Rs</p>
                                                                <input type="number" name="rs" value="{{key.rs}}"  id="rs" class="inp" placeholder="Amount" required>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="r3c2">
                                                                <p>Status</p>
                                                                <input type="number" name="status" value=""  id="sta" class="inp" placeholder="{{key.status}}" required onfocusout="check()" onkeypress="handleEnter(event)">
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div id="r4">
                                                    <div id="row4_data">
                                                        <td>
                                                            <div id="r4c1">
                                                                <p>Through</p>
                                                                <input type="text" name="through" value="{{key.through}}"  id="throu" class="inp" placeholder="Select - Plateform" required list="through_txn">
            <!--                                                    <select required id="throu" name="select" class="inp">-->
                                                                <datalist id="through_txn">

                                                                    <option value="Amazon">Amazon</option>
                                                                    <option value="Paytm">Paytm</option>
                                                                    <option value="My Jio">My Jio</option>
                                                                    <option value="Vodafone">Vodafone</option>
                                                                    <option value="Idea">Idea</option>
                                                                    <option value="BSNL">BSNL</option>
                                                                    <option value="Freecharge">Freecharge</option>
                                                                    <option value="PhonePe">PhonePe</option>
                                                                    <option value="PayZapp">PayZapp</option>
                                                                    <option value="Google Pay">Google Pay</option>
                                                                    <option value="Komparify">Komparify</option>
                                                                    <option value="Airtel">Airtel</option>
                                                                    <option value="Hike">Hike</option>
                                                                    <option value="MobiKwik">MobiKwik</option>
                                                                    <option value="Niki">Niki</option>
                                                                    <option value="Pocket">Pocket</option>
                                                                    <option value="Truecaller">Truecaller</option>
                                                                    <option value="SBI App">SBI App</option>
                                                                    <option value="PNB App">PNB App</option>
                                                                    <option value="UCO App">UCO App</option>
                                                                    <option value="CNRB App">CNRB App</option>
                                                                    <option value="Other">Other</option>
                                                                    <option value=""></option>
                                                                    <option value=""></option>
                                                                    <option value=""></option>
            <!--                                                    </select>-->
                                                                </datalist>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="r4c2">
                                                                <p>Payment </p>
                                                                <input type="text" name="payment" value="{{key.payment}}"  id="paym" class="inp" placeholder="Payment Mode" required list="through_payment">
            <!--                                                    <select required id="paym" name="select" class="inp">-->
                                                                <datalist id="through_payment">
                                                                    <option value="PNB AC">PNB AC</option>
                                                                    <option value="SBI AC">SBI AC</option>
                                                                    <option value="UCO AC">UCO AC</option>
                                                                    <option value="CNRB AC">CNRB AC</option>
                                                                    <option value="Paytm Payment Bank AC">Paytm Payment Bank AC</option>
                                                                    <option value="Jio Payment Bank AC">Jio Payment Bank AC</option>
                                                                    <option value="UBOI AC">UBOI AC</option>
                                                                    <option value="Axis AC">Axis AC</option>
                                                                    <option value="ICICI Pocket AC">ICICI Pocket AC</option>
                                                                    <option value="Amazon Bal">Amazon Bal</option>
                                                                    <option value="Amazon Vochor Bal">Amazon Vochor Bal</option>
                                                                    <option value="Paytm Ba">Paytm Bal</option>
                                                                    <option value="My Jio Bal">My Jio Bal</option>
                                                                    <option value="Vodafone Bal">Vodafone Bal</option>
                                                                    <option value="Idea Bal">Idea Bal</option>
                                                                    <option value="BSNL Bal">BSNL Bal</option>
                                                                    <option value="Freecharge Bal">Freecharge Bal</option>
                                                                    <option value="PhonePe Bal">PhonePe Bal</option>
                                                                    <option value="PayZapp Bal">PayZapp Bal</option>
                                                                    <option value="Google Pay Bal">Google Pay Bal</option>
                                                                    <option value="Komparify Bal">Komparify Bal</option>
                                                                    <option value="Airtel Bal">Airtel Bal</option>
                                                                    <option value="hike Bal">hike Bal</option>
                                                                    <option value="MobiKwik Bal">MobiKwik Bal</option>
                                                                    <option value="Niki Bal">Niki Bal</option>
                                                                    <option value="Pocket Bal">Pocket Bal</option>
                                                                    <option value="Truecaller Bal">Truecaller Bal</option>
                                                                    <option value="Other">Other</option>

            <!--                                                    </select>-->
                                                                </datalist>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div id="r5">
                                                    <div id="row5_data">
                                                        <td>
                                                            <div id="r5c1">
                                                                <p>CB</p>
                                                                <input type="number" name="cb" value="{{key.cb}}"  id="cb" class="inp" placeholder="Cashback" required onblur="cb1()">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="r5c2">
                                                                <p>APC</p>
                                                                <input type="text" name="apc" value="{{key.apc}}"  id="apc" class="inp" placeholder="Applied Promo Code" required onblur="apc1()" onkeyup="captalize(this)">
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div id="r6">
                                                    <div id="row6_data">
                                                        <td colspan="2">
                                                            <div id="r6c1">
                                                                <p>Remark</p>
                                                                <input type="text" name="remark" value="{{key.remark}}"  id="remark" class="inp" placeholder="Remark" required onblur="remark1()">
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <div id="r7">
                                                    <div id="row7_data">
                                                        <td>
                                                            <div id="r7c1">
                                                                <p>Paid/Not Paid</p>
                                                                <select required id="pnp" class="inp" class="sel" name="pnp" value="{{key.p_np}}">
                                                                <!-- <select required id="pnp" value="{{key.p_np}}"  class="inp" class="sel" name="pnp"> -->
                                                                    <option value="Paid">Paid</option>
                                                                    <option value="Not Paid">Not Paid</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div id="r7c2">
                                                                <p>ID</p>
                                                                <input type="text" name="ac_id" value="{{key.ac_id}}"  id="ide" class="inp" placeholder=" C AC ID" required>
                                                            </div>
                                                        </td>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tbody>
                                        </table>
                                <div id="r8">
                                    <div id="row8_data">
                                        <div id="r8c1">

                                            <input type="submit" value="Update" id="but1_save" class="but">
                                        </div>
                                        <div id="r8c3">
                                            <a href="/account_profile/account/{{key.ac_id}}" id="but3_cancel" class="but" onclick="clos()">Cancel </a>
                                        </div>
                                    </div>
                                </div>
                        </form>
                                </div>
                                {% endfor %}
                        </div>
                        <div id="table_search">
                            <div id="table_data">
                                <table>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Date</th>
                                        <th>Number</th>
                                        <th>Name</th>
                                        <th>Rs</th>
                                        <th>Status</th>
                                        <th>Through</th>
                                        <th>Payment</th>
                                        <th>CB</th>
                                        <th>APC</th>
                                        <th>Remark</th>
                                        <th>P/NP</th>
                                        <th>Id</th>
                                        <th>Update</th>
                                    </tr>
                                    {% for key in key2_rech %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{key.date}}</td>
                                        <td>{{key.number}}</td>
                                        <td>{{key.name}}</td>
                                        <td>{{key.rs}}</td>
                                        <td>{{key.status}}</td>
                                        <td>{{key.through}}</td>
                                        <td>{{key.payment}}</td>
                                        <td>{{key.cb}}</td>
                                        <td>{{key.apc}}</td>
                                        <td>{{key.remark}}</td>
                                        <td>{{key.p_np}}</td>
                                        <td>{{key.ac_id}}</td>
                                        <td><a href="#" id="f_a">Edit</a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

<!--********Ending of Main Contanier Data ************-->
            </div>
        </div>
        {% else %}
        <div id="error">
          <div id="error_oops">
            <h1 class="err">OOPS</h1>
          </div>
          <div id="error_error_404">
            <div id="error_error">
              <h1 class="err">ERROR</h1>
            </div>
            <div id="error_face">
              <i class="far fa-sad-tear" style="font-size:120px; color:skyblue;"></i>
            </div>
            <div id="error_404">
              <h1 class="err">404</h1>
            </div>
          </div>
          <div id="error_content">
            <p id="error_con">"Sorry! the page you are looking for can't be found"</p>
          </div>
          <div id="error_back_botton">
            <a href="/account/login" id="err_but">Back to Login </a>
          </div>
        </div>

        {% endif%}
<!--------------------------Footer---------------------------------------------->
        <footer>
            <p>Copyright @Neeraj 2019-<span id="footer_year">Current Year</span></p>
        </footer>

        <script>
            //-------------Script for getting the current year.----------------------
            var n = new Date()
            var s = n.getFullYear()
            document.getElementById("footer_year").innerText = s
            console.log(s)

            //-----------------------------------

            function captalize(th){
                th.value = th.value.toUpperCase()
            }

            function check(){
                var rs_value = parseInt(document.getElementById("rs").value);
                var sta_value = parseInt(document.getElementById("sta").value);

                if(rs_value==sta_value){
                    document.getElementById("pnp").value = "Paid";
                }
                else if(rs_value<sta_value){
                    alert("Status Amount is Grater then Txn Amount.");
                    document.getElementById("rs").focus();
                }
                else{
                    document.getElementById("pnp").value = "Not Paid";
                }
                document.getElementById("but1_save").focus();
            }

            function cb1(){
                 var c = document.getElementById("cb").value
                if(c=="" || c==" "){
                    document.getElementById("cb").value = '0'
                }
                var z = document.getElementById("cb").value
                console.log(z)
            }

            function apc1(){
                var d = document.getElementById("apc").value
                if(d=="" || d==" "){
                    document.getElementById("apc").value = 'No PromoCode'
                }
                var z = document.getElementById("apc").value
                console.log(z)
            }

            function remark1(){
                var d = document.getElementById("remark").value
                if(d=="" || d==" "){
                    document.getElementById("remark").value = '-----------'
                }
                var z = document.getElementById("remark").value
                console.log(z)
            }

            function update_fun(){
                document.getElementById("update_filed").style.display = "flex";
                document.getElementById("sta").focus();
            }

            function clos(){
                document.getElementById("update_filed").style.display = "none";
            }

            function check_update_fun(){
              document.getElementById("update_filed").style.display = "flex";
              document.getElementById("sta").focus();

              var rs_value = parseInt(document.getElementById("rs").value);
              var sta_value = parseInt(document.getElementById("sta").value);

              if(rs_value==sta_value){
                  document.getElementById("pnp").value = "Paid";
              }
              else if(rs_value<sta_value){
                  alert("Status Amount is Grater then Txn Amount.");
                  document.getElementById("rs").focus();
              }
              else{
                  document.getElementById("pnp").value = "Not Paid";
              }
              document.getElementById("sta").focus();
            }

        </script>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
            $(document).on("keypress", "#sta", function(e){
                if(e.which == 13){
                    var inputVal = $(this).val();
                    document.getElementById("but1_save").focus();
                }
            });
        </script>

    </body>
</html>
