<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href={% static 'css/login/login.css' %} type="text/css">
<!--        <link rel="stylesheet" href="login.css" type="text/css">-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
    <body>
        <header>
            
        </header>
        <form action="login" method="post">
            {% csrf_token %}
            <div id="contaniner" class="">
                <div id="login_part">
                    <div id="login_data">
                        <h1 id="log">Login</h1>
                        <form method="POST" action="" id="form_data" class="">
                            <div>
                                <h1 class="material-icons">account_circle</h1>
                                <input type="text" name="usrnam" id="uid" class="inp" placeholder="User Id" required>
                            </div>
                            <div>
                                <span class="material-icons">lock</span>
                                <input type="password" name="pass" id="pass" class="inp" placeholder="Password" required >
                            </div>
                            {% for message in messages %}
                            <p id="usr_pass_error" class="error">{{message}}</p>
                            {% endfor %}
                            <input type="submit" name="" value="Singin" class="inp" id="but">
                        </form>
                        <h5><a href="/forgate/resataccountpassword" id="forget_txt">Forgot your Password?</a></h5>
                        <h4>{{error_key2}}</h4>
                    </div>
                </div>

                <div id="msg_part">
                    <h2 class="msp">Hello, Friend!</h2>
                    <p class="msp2">Enter your Personal details</p>
                    <p class="msp3">and start journey with us.</p>
    <!--                <input type="button" value="Join Us" id="but2" class="">-->
                    <a href="register" id="but2" class="">JOIN US</a>
                </div>
            </div>
        </form>
    </body>
</html>