<!DOCTYPE>
<html>
    <head>
        <title>RechSTORE</title>
        {% load static %}
        <link rel="stylesheet" href={% static 'css/login/login.css' %} type="text/css">
    </head>

    <body>
<!--------------------------Header---------------------------------------------->
        <header>
            <div id="logo">
                <a href="#"><img src={% static 'logo/logo2.png'%}></a>
            </div>
            <nav>
                <ul id="login_singup">
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Singup</a></li>
                </ul>
            </nav>
        </header>
<!--------------------------Content---------------------------------------------->
        <div id="main_contanier">


            <div id="login_section">

                <form action="login" method="post">
                  {% csrf_token %}
                    <div id="bor">
                        <div id="login_text">
                            <h2>Login Account</h2>

                        </div>

                        <div id="login_data">
                            <div id="snd">
                                <p class="log_text">User_Id</p>
                                <input  type="text" id="uid" name="usrnam" class="input" placeholder="Email/Number/User id" required>
                            </div>
                            <div id="fst">
                                <p class="log_text" id="seprate">Password</p>
                                <input type="password" id="pass" name="pass" class="input" placeholder="Password" required>
                                {% for message in messages %}
                                <p id="usr_pass_error" class="error">{{message}}</p>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="login_data2">
                            <button type="submit" id="login_buton" class="but">Login</button>

                            <div id="extra_link_singup">

                                <h5 class="ext">Don't have an account. <a href="register">Singup</a></h5>
                                <br>
                                <h5>Forgate Password <span> <a href="/forgate/resataccountpassword">Click here</a> </span> </h5>
                                <br>
                                <h4>{{error_key2}}</h4>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="img_content">
                <img src={% static 'image/in3.jpg'%}>
            </div>
        </div>

<!--------------------------Footer---------------------------------------------->
        <footer>
            <p>Copyright @Neeraj 2019-<span id="footer_year">Current Year</span></p>
        </footer>

        <script>
            var n = new Date()
            var s = n.getFullYear()
            document.getElementById("footer_year").innerText = s
            console.log(s)
        </script>


    </body>
</html>
