<html>
    <head>
<!--
        <title>Login</title>
        <link rel="stylesheet" href="register.css" type="text/css">
-->
        <title>RechSTORE</title>
        {% load static %}
        <link rel="stylesheet" href={% static 'css/register/register.css' %} type="text/css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
    <body>
        <header>
            
        </header>
        
        <div id="contaniner" class="">          
            <div id="msg_part">
                <h2 class="msp">Welcome Back!</h2>
                <p class="msp2">To keep connected with us please</p>
                <p class="msp3">login with your personal info.</p>
<!--                <a href="login.html" class="" id="but2">LOGIN</a>-->
                <a href="login" id="but2" class="">Login</a>
<!--                <input type="button" value="SING IN" id="but2" class="">-->
            </div>
            <div id="login_part">
                <div id="login_data">
                    <h1 id="log">Varify Mobile/Email</h1>
                    <h5>Hello, <span id="user">{{u}}</span> </h5>
                    <h6>OTP has been send to your registered Email/Mobile.</h6>
                    <form action="register" method="post" id="form_data" class="">
                         {% csrf_token %}
                        <div>
                            <span class="material-icons">comment</span>
                            <input type="number" name="otp" class="inp" id="nam" placeholder="XXOTPXX" required onblur="p_error()">
                        </div>
                        
                        <div>
                            <p id="pass2_error" class="error">{{err}}</p>
                            <p id="phone_error" class="error"></p>
                            <p class="error">{{key_error}}</p>
                            <input type="text" name="username" value="{{u}}" hidden>
                        </div>
                        <input type="submit" name="" value="Validate" class="inp" id="but">
                        
                    </form>
                </div>
            </div>
            <div id="last">
                <a href="login.html" id="but2" class="">Login</a>
            </div>
        </div>
        
        <script>
            function p_error(){
                var ge = document.getElementById("nam").value;

                if(ge=="" || ge==" "){
                   console.log(ge);
                    document.getElementById("phone_error").innerHTML="Enter One Time Password.";
                    document.getElementById("mobile").focus();
                }
                else{
                    document.getElementById("phone_error").innerHTML="";
                }
            }
        </script>
    </body>
</html>