<html>
    <head>
<!--
        <title>Login</title>
        <link rel="stylesheet" href="register.css" type="text/css">
-->
        <title>RechSTORE</title>
        {% load static %}
        <link rel="stylesheet" href={% static 'css/register/register.css' %} type="text/css">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    </head>
    <body>
        <header>
            
        </header>
        
        <div id="contaniner" class="">          
            <div id="msg_part">
                <h2 class="msp">Welcome Back!</h2>
                <p class="msp2">To keep connected with us please</p>
                <p class="msp3">login with your personal info.</p>
<!--                <a href="login.html" class="" id="but2">LOGIN</a>-->
                <a href="login" id="but2" class="">Login</a>
<!--                <input type="button" value="SING IN" id="but2" class="">-->
            </div>
            <div id="login_part">
                <div id="login_data">
                    <h1 id="log">Join Us</h1>
                    <form method="post" action="registration_validation" id="form_data" class="">
                         {% csrf_token %}
                        <div>
                            <span class="material-icons">perm_identity</span>
                            <input type="text" name="name" class="inp" id="nam" placeholder="Name" required>
                        </div>
                        
                        <div>
                            <span class="material-icons">mail_outline</span>
                            <input type="email" name="email" class="inp" id="mail" placeholder="Email" required>
                            
                        </div>
                        
                        <div>
                            <span class="material-icons">phone</span>
                            <input type="number" name="mobile" class="inp" id="mob" placeholder="Mobile" required>
                        </div>
                        
                        <div>
                            <span class="material-icons">account_circle</span>
                            <input type="text" name="username" id="uid" class="inp" placeholder="User Id" required>
                        </div>
                        <div>
                             <td colspan="2"><p id="urn_error" class="error">{{error_key1}}</p></td>
                        </div>
                        
                        <div>
                            <span class="material-icons">lock_outline</span>
                            <input type="password" name="pass1" id="pass1" class="inp" placeholder="Password" required >
                        </div>
                        <div>
                            <span class="material-icons">lock_outline</span>
                            <input type="password" name="pass" class="inp" id="pass2" placeholder="Conform Password" required onblur="passcheck()">
                        </div>
                        <div>
                            <p id="pass2_error" class="error">{{error_key2}}</p>
                        </div>
                        <input type="submit" name="" value="SING UP" class="inp" id="but">
                        <h5 class="ext">Have a Token Number <span> <a href="activating_user">Click here</a> </span> </h5>
                    </form>
                </div>
            </div>
            <div id="last">
                <a href="login.html" id="but2" class="">Login</a>
            </div>
        </div>
        
        <script>
            var wage = document.getElementById("pass2");
                wage.addEventListener("keydown", function (e) {
                    if (e.keyCode === 13) {  //checks whether the pressed key is "Enter"
                        validate(e);
                    }
                });

                function validate(e) {
                   if(e.keyCode===13){
                    var p1 = document.getElementById("pass1").value;
                    var p2 = document.getElementById("pass2").value;
                    if(p1!=p2){
                        document.getElementById("pass1").focus();
                        document.getElementById("pass2_error").innerHTML="Password Not Match, Please Enter Again.";
                        document.getElementById("pass1").value="";
                        document.getElementById("pass2").value="";
                        document.getElementById("pass1").focus();
                        }
                    }
                }
                function passcheck(){
                    var p1 = document.getElementById("pass1").value;
                    var p2 = document.getElementById("pass2").value;
                    if(p1!=p2){
                        document.getElementById("pass1").focus();
                        document.getElementById("pass2_error").innerHTML="Password Not Match, Please Enter Again.";
                        document.getElementById("pass1").value="";
                        document.getElementById("pass2").value="";
                        document.getElementById("pass1").focus();
                        }
                    else{
                        document.getElementById("pass2_error").innerHTML="";
                    }
                }
        </script>
    </body>
</html>