#pass2_error{
    color: red;
    font-size: 12;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}


@media (min-width: 1099px){
*{
    font-family: Arial;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#last{
        display: none;
    }
#contaniner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px
}


/*----------------------Left Part CSS Login Part-------------------------------------*/
#login_data{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
}
#form_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    
}
.inp{
    height: 30px;
    width: 230px;
    outline: none;
    border:none;
    margin: 10px
}
#nam,#mail,#mob,#uid,#pass1,#pass2{
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 15px;   
}
#but{
    background-color: 314945;
    border: none;
    color: white;
    border-radius: 20px;
    width: 150px;
}
#forget_txt{
    text-decoration: none;
    color: darkslategrey
}
#but:focus{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
#but:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
/*------------------------Right Part CSS MSg Part-----------------------------*/
#msg_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #314945;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.msp{
    padding: 8px;
    color: white;
}
.msp2{
    padding-top: 5;
    padding-right: 30;
    padding-left: 30px;
    color: white;
}
.msp3{
    padding-bottom: 15;
    color: white;
}
#but2{
    height: 25px;
    width: 230px;
    outline: none;
    border:none;
    margin: 10px;
        
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    width: 150px;
    
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
}
#but2:hover{
    background-color: white;
    color: black;
}
#but2:focus{
    background-color: white;
    color: black;
}   
}
/***********************************************************************************************************************************************************/
@media (max-width: 1100px){
    *{
    padding: 0;
    margin: 0;
    font-family: arial;
    padding: 8px 0;
    background-color: #829592;
    color: white;

}

#msg_part{
    display: none;
}

#contaniner{
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}
#login_part{
    text-align: center;
    padding-bottom: px
}
#log{
    font-size: 90px;
    font-weight: normal;
}
.inp{
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

::placeholder {
  color: white;
  opacity: 0.7; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

#but{
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    width: 190px;
    margin-top: 25px;    
}
#but:hover{
    color: black;
    background-color: #DADEE4
}
#but:focus{
/*    border: 1px solid black;*/
    color: black;
    background-color: #DADEE4
}
#but:hover{
    color: black;
    background-color: #DADEE4
}
#but:focus{
/*    border: 1px solid black;*/
    color: black;
    background-color: #DADEE4
}
#but2{
    text-decoration: none;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    padding: 13px 100px;
    font-size: 23px;
}
#but2:focus{
    border: none;
    background-color: white;
    outline: none;
}
#but2:hover{
        border: none;
    background-color: white;
    outline: none;
}
}